$white_color: #fff;
$blue_color: #409eff;
$col_o_05:#1c7bef;
$col_o_06:#277dee;
$blue1_color: #ecf8ff;
$gray_color: #eee;
$gray1_color: #f1f7fd;
$gray2_color: #f1f1f1;
$red_color: #ee4433;
$warnColor: #FCF8E3;
$col_error: #FDE8E6;
$col_error1: #FFD5D1;
$green_color:#5cbc2c;
$green1_color:#95ff91;
$col_select:#E0EFFF;


$w_20: 20px;

.w20 {
  width: $w_20
}
.w_150 {
  width: $w_20 * 7.5;
}
.w_200 {
  width: $w_20 * 10;
}
