.medical_record_layout {
  height: 100%;
  background: #fff;
  .sidebar_wrap {
    width: 280px;
    border-left: 1px solid #ccc;
  }
  .title_text {
    margin-left: 5px;
  }
  .title_text, .message_item {
    position: relative;
    sub {
      position: absolute;
      top: 21px;
      width: 8px;
      height: 8px;
      background-color: red;
      border-radius: 50%;
    }
  }
  .tabs {
    /deep/.el-tabs__header {
      margin: 0;
    }
    /deep/.el-tabs__header .el-tabs__nav {
      border-left: none;
      border-top: none;
      border-radius: 0;
    }
    /deep/.el-tabs__header .el-tabs__item {
      /deep/ .el-badge {
        line-height: 28px;
      }
      border-left: 1px solid #ddd;
      &.is-active {
        background: #fff;
        padding-right: 15px;
      }
    }
    /deep/.el-tabs__header .el-tabs__item:first-child {
      border-left: none;
    }
  }

  .bl {
    border-left: 1px solid #ccc;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }

  .message_item {
    cursor: pointer;
    padding-left: 23px;
    background: #f9f9f9;
    sub {
      top: 11px;
    }
  }
  .message_item:hover {
    background: #eee;
  }
  /deep/.el-collapse {
    border-top: none;
    border-bottom: 1px solid #ddd;
  }
  /deep/.el-collapse-item__header {
    padding-left: 10px;
    border-bottom: #ddd;
    background-image: linear-gradient(180deg, #ffffff 0%, #f4f4f4 100%);
  }
  /deep/.el-collapse-item__header.is-active {
    border-bottom-color: #f9f9f9;
  }
  /deep/.el-collapse-item__wrap {
    border-bottom: 1px solid #ddd;
  }
  /deep/.el-badge__content.is-fixed {
    transform: translateY(0%) translateX(445%);
  }
  /deep/.el-badge__content.is-fixed.is-dot {
    right: 34px;
  }
  /deep/ .el-collapse-item__content {
    line-height: 30px;
    font-size: 14px;
  }
  .right_nav {
    background: #f9f9f9;
  }
}