.el-col .title{
  border-left:3px solid #1C7BEF ;
  padding-left: 5px;
  text-align: left;
  margin:0;
  font-size:14px;
  line-height:16px;
}
.el-col{
  margin-bottom: 5px;
}
.el-row{
  margin-bottom: 5px;
}
.el-table{
  margin-top:0;
}
.el-col:not(.head){
  padding-left:8px;
}

.start{
  color:red;
}